.container
  h2 Profile
  .content
    form(id='user_edit',method='post',action='/user/save/',validation='User.profile',enctype='multipart/form-data')
      ul
        li
          label(for='name') Name
          input(name='name',id='name',placeholder='Name',value=currentUser.name,type='text')
        li
          label(for='password') Password
          input(name='password',id='password',placeholder='Password',type='password')
        li
          label(for='gender') Gender
          !=form.select('gender', [{name:'- none selected -',value:''},{name:'Male',value:'M'},{name:'Female',value:'F'}], currentUser.gender)
        li
          label(for='profile_type') Profile Type
          !=form.select('profile_type', [{name:'Cosplayer',value:'1'},{name:'Photographer',value:'2'}], currentUser.profile_type)
        li
          label(for='biography') Biography
          textarea(name='biography')=currentUser.biography
              
      input(type='submit')
  h2 Avatar
  .content
    form(id='user_avatar',method='post',action='/user/avatar/',enctype='multipart/form-data')
      .avatar-status
        -if(currentUser.has_avatar)
          span Custom Avatar
        -else
          span Default Avatar
      .avatar
        !{currentUser.avatar}
      a.avatar-input.button Change Avatar
        input(type='file',name='avatar')
      