-if(user)
  .container
    h2 Profile
    p 
      -if (user.biography != '')
        #{user.biography}
      -else
        #{user.name} has not completed his or her profile.
-else
  .container
    h2 Not Found!
    p OH MY GOD I CANT FIND ANYTHING
