.container
  h2 
    a All Done!
  p Looks like things got off on the right foot.  You have us convinced so far, you're awesome.  Why not seal the deal?
  .content(id='registered')
    a.button(href='/user/edit/') Create Your Profile