.container
  h2 
    a Sign up for the low cost of FREE!
  .content(id='register')
    p.hook 
      span Not only does signing up prove your OUTSTANDING intellegence and good looks, but as a member, you'll be able to:
    ul.reasons
      li Build a network of fellow cosplayers, photographers, and friends.
      li Share your amazing cosplay and prop ideas and creations with the world!
      li Get tips, tricks, or even just chat with other working professionals and aspiring artists.
    form(method='post',validation='User.register')
      ul
        li
          label(for='email') Email
          input(name='email',id='email',placeholder='Email',type='text')
          span#register_email_check
        li
          label(for='password') Password
          input(name='password',id='password',placeholder='Password',type='password')
        li
          label(for='birthday') Birthday
          !=form.date('birthday')
        li
          input(type='submit',name='register',value='Register')