.container
  h2 Submit Photo
  .content
    form(method='post',id='photo_create',action='/photo/upload',validation='Photo.create',enctype='multipart/form-data')
      ul
        li.status Waiting
        li
          label(for='photo') Photo
          input(type='file',name='photo')