.container
  h2 Submit Photo
  .content(id='photo_create')
    form(method='post',validation='Photo.create')
      ul
        li
          label(for='email') Title
          input(name='email',id='email',placeholder='Email')
        li
          label(for='password') Password
          input(name='password',id='password',placeholder='Password',type='password')
        li
          label(for='birthday') Birthday
          - var days = [], years = [], year = (new Date()).getFullYear();
          - for ( var y=0; y<110; ++y ) { years.push(year - y); }
          - for ( var d=1; d<32; ++d ) { days.push(d); }
          select(name='birthdayMonth')
            each month in months
              option(value=month.value, selected=(month.value==params.birthdayMonth ? 'selected':undefined))= month.name
          select(name='birthdayDay')
            each day in days
              option(value=day, selected=(day==params.birthdayDay ? 'selected':undefined))= day
          select(name='birthdayYear')
            each year in years
              option(value=year, selected=(year==params.birthdayYear ? 'selected':undefined))= year
        li
          input(type='submit',name='register',value='Register')
          
script(type='text/javascript')
  $('input[name="birthday"]').datepicker();